{%  assign showDifference  = showDifference |  default: false  %}

{%  assign beforeImage  = beforeImage |  default: ''  %}

{%  assign afterImage  = afterImage |  default: ''  %}

{% if showDifference %}
<div class="diff aspect-[16/9] shadow-md rounded-2xl" role="img" aria-label="Before and after comparison">
    <div class="diff-item-1">
      <img alt="Before comparison image"
      src='{{beforeImage}}' />
    </div>
    <div class="diff-item-2">
      <img
        alt="After comparison image"
        src='{{afterImage}}' />
    </div>
    <div class="diff-resizer"></div>
  </div>

{% endif %}