---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<main class="tdbc-container">



<h3 class="tdbc-h4">Is Netlify hosting required?</h3>

It's not required, but highly recommended, and is also how the build process is setup to run
against.

> For more Eleventy resources, check out my extended collection on [11ty.Rocks](https://11ty.rocks)!

{{ content | safe }}

</main>
