---
description:
layout: base.njk
templateEngineOverride: md, njk
---


<main class="tdbc-container">
	<div class="grid grid-cols-1 gap-4 my-12 1 md:grid-cols-3 lg:grid-cols-3">
		<div class="card bordered shadow-2xl">
			<figure>
				<img src="https://lh3.googleusercontent.com/eSNKciPK9310A3y1ykA_itOSXzWLBYdXGlZJKdST6YM8-tR9rEAkDqrYEYEa0FacwjyVIDogdXc-7FJIFQp6nH0Kmg=w440-h280-e365-rj-sc0x00ffffff">
			</figure>
			<div class="card-body">
				<h2 class="card-title">Markdown Editor</h2>
				<p>Create and view markdown files from any were. Simple and easy. A Github Flavored Markdown Editor.</p>
				<div class="justify-end card-actions">
					<a class="btn btn-secondary" style="color:white" href="https://chrome.google.com/webstore/detail/markdown-editor-for-chrom/dkpldbigkfcgpamifjimiejipmodkigk?hl=en" target="_blank">Vist Chrome store</a>
				</div>
			</div>
		</div>
		<div class="card bordered shadow-2xl">
			<figure>
				<img src="https://lh3.googleusercontent.com/thE_EDk-SaX6MKGO3KH_lJ3jBVAmoN9ELbXYIk_QRvWPk5g7YrENLettSisABCAniTjbyzUyZA=w440-h280-e365-rj-sc0x00ffffff">
			</figure>
			<div class="card-body">
				<h2 class="card-title">Clean my history</h2>
				<p>Remove over 15,000 NSFW websites and terms from your history in one click.</p>
				<div class="justify-end card-actions">
          <a class="btn btn-primary" style="color:white" href=" https://buy.stripe.com/6oEdTfbN75tncmIcMM" target="_blank">Upgrade</a>
					<a class="btn btn-secondary" style="color:white" href="https://chrome.google.com/webstore/detail/clean-my-history-remove-n/iocknhfjfkmjecgighghbmmbjgbnhfpp/related?hl=en" target="_blank">Vist Chrome store</a>
				</div>
			</div>
		</div>
		<div class="card bordered shadow-2xl">
			<figure>
				<img src="https://lh3.googleusercontent.com/EDPAu6-8CTVq0shk7SmuAuRufgoqixxU-zl6fXP-XhV5CP5FX31JEMt8VqDtIEYLxUtIT8pC8gKse5t5pzOCHlHmAA=w440-h280-e365-rj-sc0x00ffffff">
			</figure>
			<div class="card-body">
				<h2 class="card-title">Lexend font for Chrome</h2>
				<p>Format pages using the Lexend font.</p>
				<div class="justify-end card-actions">
					<a class="btn btn-secondary" style="color:white" href="https://chrome.google.com/webstore/detail/lexend-font-for-chrome/dephbjebdflpbhnhnebainombgimhdgc" target="_blank">Vist Chrome store</a>
				</div>
			</div>
		</div>
		<div class="card bordered shadow-2xl">
			<figure>
				<img src="https://lh3.googleusercontent.com/izedz1vKGDp2paoQrZrUfCRnwruwYWCBO1-ht0S3Mc22KhRPgPSdAGbHeG5zvGqb_2ZE6O5_Eh2ISRzHgZvqlWcQHw=w316-h200-rw">
			</figure>
			<div class="card-body">
				<h2 class="card-title">Reddit: Random subreddit button</h2>
				<p>Bring back reddits random button. Cause I miss it and dont use bookmarks.</p>
				<div class="justify-end card-actions">
					<a class="btn btn-secondary" style="color:white" href="https://chrome.google.com/webstore/detail/reddit-random-subreddit-b/ipnikackdjgacagdhaaneehepcodpahc?hl=en&authuser=0" target="_blank">Vist Chrome store</a>
				</div>
			</div>
		</div>
		<div class="card bordered shadow-2xl">
			<figure>
				<img src="https://lh3.googleusercontent.com/nniZXoHP0x4QqWsLW_lIXKhPlTxOQMUjVifrzAOyM2DdgtETnLTyYZglnTr1xG_gH7zIsA5yMjnbNqkL4jWVyRP2VjA=w316-h200-rw">
			</figure>
			<div class="card-body">
				<h2 class="card-title">What Coffee should I have?</h2>
				<p>Not sure what coffee to have? Let us pick for you with over 35 different coffees and growing.</p>
				<div class="justify-end card-actions">
					<a class="btn btn-secondary" style="color:white" href="https://chrome.google.com/webstore/detail/what-coffee-should-i-have/ddglahibjgojmjfdagciafcjnfinelbi?hl=en&authuser=0" target="_blank">Vist Chrome store</a>
				</div>
			</div>
		</div>
		<div class="card bordered shadow-2xl">
			<figure>
				<img src="https://picsum.photos/id/1005/400/250">
			</figure>
			<div class="card-body">
				<h2 class="card-title">Too Shy To Ask</h2>
				<p>A popular sex questionaire for you and partner to answer. Discovering new things to try in bed.</p>
				<div class="justify-end card-actions">
					<a class="btn btn-secondary" style="color:white" href="https://www.tooshytoask.com" target="_blank">Vist App</a>
				</div>
			</div>
		</div>
		<div class="card bordered shadow-2xl">
			<figure>
				<img src="https://lh3.googleusercontent.com/KH-sSGvnimLyNGbFvYS6UeG9o6HVIIFrDKgVHn3iOrQ8akAOLuyAXJ4M5WMI0k7vBclGX2pFC_-00ZYNGsq96w05Qw=w440-h280-e365-rj-sc0x00ffffff">
			</figure>
			<div class="card-body">
				<h2 class="card-title">Netflix Hidden Categories</h2>
				<p>Netflix Hidden Categories for Chrome allows you to search thousands of hidden categories that Netflix hides from you. Sold to justbutterit.ca</p>
				<div class="justify-end card-actions">
					<a class="btn btn-secondary" style="color:white" href="https://chrome.google.com/webstore/detail/netflix-hidden-categories/pajmfnmlmcknmehpcklomlblpdcpdmgg" target="_blank">Vist Chrome store</a>
				</div>
			</div>
		</div>
	</div>
  {{ content | safe }}
</main>



