<dialog id="my_modal_4" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <div>
            <h3 class="card-title mb-4 text-3xl">List of Supporters</h3>
            <p class="text-base mb-2">A huge thank you to all the users who have donated.</p>

            <ul class="grid grid-cols-1 gap-4 sm:grid-cols-3 mb-6 mt-6">
                <li>
                    Boulo
                </li>

                <li>
                    Roger Nowlan
                </li>

                <li>
                    이광현
                </li>

                <li>
                    Arturo Jimenez
                </li>

                <li>
                    OH JUNHO

                </li>


            </ul>

            <a class="btn btn-ghost btn-block w-full mt-4"
                href="https://payments.coffeeandfun.com/b/00gbKHdise1e8Le6oZ" target="_blank">Donate to Coffee & Fun
                LLC</a>
        </div>
    </div>
</dialog>

<!-- You can open the modal using ID.showModal() method -->

<dialog id="my_modal_3" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSeOBpyxmu3enhScTOuJtYAx2jNK2wr9scFKtbQrj0AjqJfdEQ/viewform?embedded=true"
            width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </div>
</dialog>
