<dialog id="my_modal_contact" class="modal" role="dialog" aria-labelledby="supporters-title">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" aria-label="Close">✕</button>
        </form>

        <div>
            <h2 id="supporters-title" class="text-2xl mb-4 font-bold">List of Supporters</h2>
            <p class="text-base mb-2">A huge thank you to all the users who have donated.</p>

            <ul class="grid grid-cols-1 gap-4 sm:grid-cols-3 mb-6 mt-6">
                <li>Boulo</li>
                <li>Roger Nowlan</li>
                <li>이광현</li>
                <li>Arturo Jimenez</li>
                <li>OH JUNHO</li>
            </ul>

            <a class="btn btn-primary btn-block w-full mt-4"
                href="https://payments.coffeeandfun.com/b/00gbKHdise1e8Le6oZ" target="_blank">
                Donate to Coffee & Fun LLC
            </a>
        </div>
    </div>
</dialog>

<dialog id="my_modal_supports" class="modal" title="Support Form" role="dialog">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" aria-label="Close">✕</button>
        </form>

        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSeOBpyxmu3enhScTOuJtYAx2jNK2wr9scFKtbQrj0AjqJfdEQ/viewform?embedded=true"
            width="100%" height="500" frameborder="0" title="Supporters Form">Loading…</iframe>
    </div>
</dialog>






<dialog id="my_modal_rank" class="modal" title="TriviaFlix" role="dialog">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" aria-label="Close">✕</button>
        </form>


        <h2 class="text-lg font-bold">About Mystery Rank</h2>

        <div class="mb-12 mt-4">

            <p class="py-4 text-base">
                In Mystery Rank, you contribute to earn a spot in different categories. The more you give, the higher
                your rank. But here’s the catch—no one knows how much anyone else has paid. It’s this mystery that makes
                the competition even more exciting.
            </p>


        </div>

        <h2 class="text-lg font-bold mb-8">Terms and Refunds for Mystery Rank</h2>

        <div class="mb-4 mt-4">

            <h3 class="text-lg font-semibold mb-2">One-Time Contribution</h3>

            <p class="py-4 text-base">
                When you contribute to Mystery Rank, it’s a one-time payment that secures your spot in the credits.
                Please keep in mind that once the payment is made, it’s final—there are no refunds or changes. We want
                to keep the process fair and transparent for everyone involved.

            </p>


        </div>



        <div class="mb-4 mt-4">

            <h3 class="text-lg font-semibold mb-2">How Your Rank is Determined</h3>

            <p class="py-4 text-base">
                Your rank within your chosen category is based on how much you contribute. The more you contribute, the
                higher your rank will be. However, the amount you’ve paid, and what others have paid, will remain
                private. This adds a layer of mystery and excitement to the competition.

            </p>


        </div>


        <div class="mb-4 mt-4">

            <h3 class="text-lg font-semibold mb-2">When Your Credit Appears</h3>

            <p class="py-4 text-base">
                After your payment is confirmed, your credit will be posted within 12 hours. We work hard to ensure that
                everyone’s contributions are recognized promptly. If for some reason there’s a delay, we’ll do our best
                to keep you informed.

            </p>


        </div>

        <div class="mb-4 mt-4">

            <h3 class="text-lg font-semibold mb-2">Handling Chargebacks</h3>

            <p class="py-4 text-base">
                If a chargeback occurs, your credit will be immediately removed from the list, and unfortunately, you’ll
                be blocked from participating in Mystery Rank in the future. We do this to protect the integrity of the
                rankings and ensure fairness for all contributors.

            </p>


        </div>


        <div class="mb-4 mt-4">

            <h3 class="text-lg font-semibold mb-2">Updating Your Listing or Link</h3>

            <p class="py-4 text-base">
                We understand that sometimes things change. If you need to update your listing or link after it’s been
                posted, just send us an email at <a
                    href="mailto:hello@coffeeandfun.com?subject=Inquiry%20about%20Mystery%20Rank%20Credits&body=Hi%20there,%0D%0A%0D%0AI%20have%20a%20question%20about%20Mystery%20Rank%20Credits.%0D%0A%0D%0AThank%20you!"
                    class="link link-hover link-primary">hello@coffeeandfun.com</a>
                . We’re happy to make one-time updates to ensure your information is correct.

            </p>


        </div>

        <div class="mb-4 mt-4">

            <h3 class="text-lg font-semibold mb-2">Need Help or Have Questions?</h3>

            <p class="py-4 text-base">
                If you have any questions about the process, or if something isn’t clear, please don’t hesitate to reach
                out. We’re here to help and want to make sure your experience with Mystery Rank is as smooth and
                enjoyable as possible.

            </p>


        </div>








    </div>
</dialog>



<dialog id="my_modal_69" class="modal" title="TriviaFlix" role="dialog">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" aria-label="Close">✕</button>
        </form>


        <h2 class="text-lg font-bold">Keyboard Shortcuts</h3>

            <div class="mb-4 mt-4">

                <h3 class="pb-2 text-base font-bold">
                    Show Answer
                </h3>

                <kbd class="kbd kbd-sm">▲</kbd>
            </div>




            <div class="mb-4">

                <h3 class="pb-2 text-base font-bold">
                    Hide Answer
                </h3>

                <kbd class="kbd kbd-sm">▼</kbd>
            </div>


            <div class="mb-4">

                <h3 class="pb-2 text-base font-bold">
                    Next Question
                </h3>

                <kbd class="kbd kbd-sm">▶︎</kbd>
            </div>




            <div class="mb-4">

                <h3 class="pb-2 text-base font-bold">
                    Previous Question
                </h3>

                <kbd class="kbd kbd-sm">◀︎</kbd>
            </div>


    </div>
</dialog>



<dialog id="my_modal_site_menu" class="modal" title="Menu" role="dialog">
    <div class="modal-box">


        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 " aria-label="Close">
                <span class="sr-only">Close the modal popup</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" aria-hidden="true"
                    class="h-6 w-6">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z">
                    </path>
                </svg>
            </button>

        </form>
        <div class="w-full items-start mt-12">

            <h2 class="text-2xl mb-4 font-bold ">Coffee & Fun</h2>
            <div class="divider mb-2"></div>
            <ul class="grid grid-cols-2 gap-4 mb-8">
                <li class="text-left">


                    <a href="/#apps" rel="noopener noreferrer" title="Visit Coffee & Fun Apps"
                    class="btn  btn-neutral btn-outline btn-sm btn-block  font-semibold   mt-2 gap-2">
                        <span>Apps</span>
                    </a>

                </li>

                <li class="text-left">


                <a href="/blog/" rel="noopener noreferrer" title="Visit Coffee & Fun Blog"
                class="btn  btn-neutral btn-outline btn-sm btn-block  font-semibold  mt-2 gap-2">
                    <span>Blog</span>
                </a>

            </li>

            <li class="text-left">


                <a href="https://sharing.clickup.com/36059453/b/12ce9x-577/board" target="_blank" rel="noopener noreferrer" title="Visit Coffee & Fun Roadmap"
                class="btn  btn-neutral btn-outline btn-sm btn-block  font-semibold  mt-2 gap-2">
                    <span>Roadmap</span>
                </a>

            </li>

                <li class="text-left">

                    <a href="/#graveyard" rel="noopener noreferrer" title="Visit the Graveyard"
                        class="btn  btn-neutral btn-outline btn-sm btn-block  font-semibold   mt-2 gap-2">
                        <span>The Graveyard</span>
                    </a>

                </li>

                <li class="text-left">


                    <button onclick="my_modal_supports.showModal()" title="Contact Support"
                    class="btn  btn-neutral btn-outline btn-sm btn-block  font-semibold   mt-2 gap-2">

                        <span>Supports</span>
                    </button>

                </li>




                <li class="text-left">


                    <button onclick="my_modal_contact.showModal()" title="Contact Support"
                    class="btn  btn-neutral btn-outline btn-sm btn-block  font-semibold   mt-2 gap-2">

                        <span>Contact Us</span>
                    </button>

                </li>


            </ul>


            <h2 class="text-2xl  mt-24 font-bold mb-4">Apps</h2>
            <div class="divider mb-2"></div>

            <ul class="grid grid-cols-2 gap-4">
                {% for app in apps.apps %}
                <li class="text-left mb-4">


                    <a href="{{ app.link }}" target="_blank" rel="noopener noreferrer" title="Visit Coffee & Fun Apps"
                    class="btn  btn-neutral btn-outline  btn-sm btn-block  font-semibold   mt-2 gap-2">
                        <span>{{ app.name }}</span>
                    </a>

                </li>
			{% endfor %}
            </ul>
        </div>









    </div>
</dialog>