
<div class="bg-yellow-500 py-2 text-white lg:block">
    <div class="relative overflow-hidden">
      <div class="animate-marquee whitespace-nowrap px-4">
        <span class="text-lg text-black font-bold mr-2">Breaking News:</span>
        <span class="text-base text-black">Coffee & Fun is now offering consultations from our award-winning team!  <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0qAGx2mlISwLUuHw8ANuuRK8wvq_goZs2a559znl9lGAuuLG-Cv4uyWGqEd992QIYB9AwAimI3" target="_blank" title="book now "class="btn btn-xs ml-2 ">Book Now</a> </span>
       
      </div>
    </div>
  </div>
  
  <style>
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    .animate-marquee {
      display: inline-block;
      animation: marquee 25s linear infinite;
    }
  </style>
  