<div class="bg-yellow-500 py-2 text-white lg:block">
  <div class="relative overflow-hidden">
    <div class="animate-marquee whitespace-nowrap px-4">
      <span class="text-lg text-black font-bold mr-2">Breaking News:</span>
      <span class="text-base text-black">
        Join our Discord to talk to the team, suggest features, report bugs or hang out 
        <a href="https://discord.gg/J6EeMvSBYg" target="_blank" 
           title="Join our Discord" class="btn btn-xs ml-2">
          Join Discord
        </a>
      </span>
    </div>
  </div>
</div>

<style>
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-marquee {
    display: inline-block;
    animation: marquee 25s linear infinite;
  }
  .animate-marquee:hover {
    animation-play-state: paused;
  }
</style>
