<!DOCTYPE html>
<html class="brand-color-background scroll-smooth antialiased" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Instant Flash Cards - Turn any website into a flash card.</title>
	<meta name="description"
		content="Easily convert any website content into flashcards with Instant Flash Cards. Enhance your learning experience, memorize faster, and improve retention. Start learning smarter today!" />
	<meta name="author" content="Coffee & Fun LLC" />
	<meta name="robots" content="index, follow" />
	<meta name="rating" content="safe for kids" />

	<link rel="icon" href="/assets/images/favicon.png" />

	<meta name="title" content="Instant Flash Cards - Turn any website into a flash card." />
<!-- PWA Manifest -->
<link rel="manifest" href="/assets/images/social/site.webmanifest" />

<!-- Theme & Mobile Meta -->
<meta name="theme-color" content="#fef5ec" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />

<!-- Icons -->
<link rel="apple-touch-icon" href="/assets/images/social/192.png" />
<link rel="icon" href="/assets/images/social/192.png" sizes="192x192" type="image/png" />
<!-- PWA Meta Tags -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="mobile-web-app-capable" content="yes" />

	<!-- Open Graph Meta Tags -->
	<meta property="og:title" content="Instant Flash Cards - Turn any website into a flash card." />
	<meta property="og:site_name" content="Coffee & Fun" />
	<meta property="og:url" content="https://www.coffeeandfun.com/flash-cards/" />
	<meta property="og:description"
		content="Easily convert any website content into flashcards with Instant Flash Cards. Enhance your learning experience, memorize faster, and improve retention. Start learning smarter today!" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="/assets/images/social-icon.png" />

	<!-- Twitter Meta Tags -->
	<meta property="twitter:domain" content="coffeeandfun.com" />
	<meta property="twitter:url" content="https://www.coffeeandfun.com/flash-cards/" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Instant Flash Cards - Turn any website into a flash card." />
	<meta name="twitter:site" content="@bycoffeeandfun" />
	<meta name="twitter:description"
		content="Easily convert any website content into flashcards with Instant Flash Cards. Enhance your learning experience, memorize faster, and improve retention. Start learning smarter today!" />
	<meta name="twitter:image" content="https://www.coffeeandfun.com/assets/images/social-icon.png" />
	<meta name="twitter:image:alt" content=" Coffee & Fun" />

	<script type="application/ld+json">
			{
				"@context": "http://schema.org/",
				"@type": "WebSite",
				"url": "https://www.coffeeandfun.com",
				"potentialAction": {
					"@type": "SearchAction",
					"target": "{search_term_string}",
					"query-input": "required name=search_term_string"
				}
			}
		</script>

			{% bundledCss %}


		<script>
	   if ('serviceWorker' in navigator) {
		  navigator.serviceWorker.register('/service-worker.js')
			.then(() => console.log('✅ Service worker registered'))
			.catch((err) => console.log('Service worker error:', err));
		}
		</script>



	{% include scripts.html %}
</head>

<body>

	{% include header.liquid %}
	<main id="main-content" class="mx-auto max-w-7xl pb-12 pt-12">





	<div class="mb-16 mt-16 sm:mb-24 sm:mt-24">
		<div class="relative">
			<div
			class="absolute inset-2 bottom-0 rounded-4xl ring-1 ring-black/5 ring-inset bg-gradient-to-br from-[#fcd683] via-[#f7c4ba] to-[#e25440]"
			></div>
			<div class="relative px-6 lg:px-8">
			<div class="mx-auto max-w-2xl lg:max-w-7xl">
				<div
				class="pt-16 pb-24 sm:pt-24 sm:pb-32 md:pt-32 md:pb-48 mx-auto max-w-3xl text-pretty text-center"
				>
				<h1
					class="font-display text-pretty text-5xl font-medium tracking-tight text-pretty text-balance text-pretty text-gray-950 sm:text-6xl/[0.8] md:text-7xl/[0.8] mx-auto text-pretty text-center"
				>
				Instant Flash Cards
				</h1>
				<p
					class="mt-8 max-w-4xl text-pretty text-xl/7 font-medium text-pretty text-gray-950/75 sm:text-2xl/8 mx-auto text-pretty text-center"
				>
				Turn any site into study vibes with one click. Instant Flash Cards is your hack to making learning stick. Prep for exams, level up skills, or get that language down. No stress, just progress. And yeah, it's available on Chrome, Micrsoft Edge, Safari & Firefox.
				</p>

				<div class="mt-12 mt-10 flex items-center justify-center gap-x-6">
					<a
					href="https://chromewebstore.google.com/detail/bipfhmjiiilcconehjpphpfpfkcfkedg"
					target="_blank"
					class="btn-neutral btn btn-lg"
					>
					Download For Chrome!
					</a>

					<a
					href="https://payments.coffeeandfun.com/b/8wM8yv3HS4qE8Le7sZ"
					target="_blank"
					class="btn btn-lg btn-dash btn-neutral"
					>
					Buy Instant Flash Cards
					</a>
				</div>

				<div class="mx-auto mt-16 flow-root max-w-4xl sm:mt-24">
					<div
					class="-m-2 rounded-3xl bg-stone-600 p-2 lg:-m-4 lg:rounded-3xl lg:p-4"
					>
					<video
						aria-label="Demonstration of Helperbird features on Google Docs and Slides"
						autoplay="autoplay"
						controls="controls"
						loop="loop"
						muted="muted"
						playsinline="playsinline"
						width="2432"
						height="1442"
						class="rounded-md shadow-2xl ring-1 ring-gray-900/10"
					>
						<source src="/assets/videos/instant.mp4" type="video/mp4" />
					</video>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
		</div>

















		<div class="mb-16 mt-16 rounded-3xl bg-white shadow-md" id="terms">
			<div class="mx-auto max-w-7xl divide-y divide-gray-900/10 px-6 py-24 lg:px-8">
				<h2 class="text-3xl font-bold leading-10 pb-8 tracking-tight text-pretty text-black">
					Frequently Asked Questions
				</h2>
				<dl class="mt-10 space-y-8 divide-y divide-gray-900/10">
					<div class="pt-8 lg:grid lg:grid-cols-12 pb-8 lg:gap-8">
						<dt class="text-lg font-semibold leading-7 text-pretty text-black lg:col-span-5">
							Why does it cost 15 USD a year?
						</dt>
						<dd class="mt-4 lg:col-span-7 lg:mt-0">
							<p class="text-lg leading-7 text-pretty text-black">
								The $15 annual fee is there because we've got some real costs to cover to keep the
								app running smoothly. It supports ongoing improvements, bug fixes, and the
								development of new features. It's all about giving you a top-notch learning tool
								that keeps getting better. Thanks for helping us make that happen! 👍
							</p>
						</dd>
					</div>

					<div class="pt-8 lg:grid lg:grid-cols-12 pb-8 lg:gap-8">
						<dt class="text-lg font-semibold leading-7 text-pretty text-black lg:col-span-5">
							Privacy and Data Handling
						</dt>
						<dd class="mt-4 lg:col-span-7 lg:mt-0">
							<p class="text-lg leading-7 text-pretty text-black">
								In our commitment to privacy and transparency, we want you to know exactly how we
								handle data when you use our 'create flashcards' feature. Here’s the rundown:
								<br /><br />
								<b>Data Collection: </b> The only information we collect is the text you’ve
								selected on a page when you initiate the flashcard creation process. This ensures
								that our service is tailored specifically to your current study needs.
								<br /><br />
								<b> Data Processing: </b> Once collected, the text is sent to our servers where
								it’s processed using ChatGPT, equipped with custom commands, to generate your
								personalized flashcards. Importantly, we do not store this text after your
								flashcards have been created. It’s used solely for the purpose of generating your
								study material and then immediately discarded to protect your privacy.
								<br /><br />
								<b> Security Measures:</b> We take your privacy seriously. All data transmission
								to our server is encrypted, and we employ industry-standard security practices to
								safeguard your information from unauthorized access.
							</p>
						</dd>
					</div>

					<div class="pt-8 lg:grid lg:grid-cols-12 pb-8 lg:gap-8">
						<dt class="text-lg font-semibold leading-7 text-pretty text-black lg:col-span-5">
							Refunds Within 3 Days
						</dt>
						<dd class="mt-4 lg:col-span-7 lg:mt-0">
							<p class="text-lg leading-7 text-pretty text-black">
								We understand that sometimes things don't go as planned, and we want you to be
								completely satisfied with your purchase. That's why we offer a no-questions-asked
								refund policy for 3 days following your purchase. If for any reason you're not
								happy with your subscription, just shoot us an email at hello@coffeeandfun.com,
								and we'll process your refund promptly. Your peace of mind is our priority.
							</p>
						</dd>
					</div>

					<div class="pt-8 lg:grid lg:grid-cols-12 pb-8 lg:gap-8">
						<dt class="text-lg font-semibold leading-7 text-pretty text-black lg:col-span-5">
							Stripe & ChatGPT
						</dt>
						<dd class="mt-4 lg:col-span-7 lg:mt-0">
							<p class="text-lg leading-7 text-pretty text-black">
								We prioritize your privacy and handle your data with the utmost care. When you
								create flashcards, we only process the text you've selected to craft personalized
								study aids. This is done through ChatGPT, enhanced with custom commands, to ensure
								the flashcards are relevant and valuable to your learning experience. <br /><br />
								For payment processing, we rely on Stripe's secure services to manage transactions
								with confidence. If you ever decide to cancel your subscription, we take swift
								action to remove your payment details from our system within 72 hours, ensuring
								your financial privacy is maintained.
								<br /><br />
								Your trust in our service is essential, and we're committed to protecting your
								privacy every step of the way.
							</p>
						</dd>
					</div>

					<div class="pt-8 lg:grid lg:grid-cols-12 pb-8 lg:gap-8">
						<dt class="text-lg font-semibold leading-7 text-pretty text-black lg:col-span-5">
							Unlocking Your Instant Flash Cards
						</dt>
						<dd class="mt-4 lg:col-span-7 lg:mt-0">
							<p class="text-lg leading-7 text-pretty text-black">
								After you've signed up and sorted out the payment, we'll shoot you an email with
								your very own subscription key. 💌
								<br />
								This key is like the magic wand for unlocking everything Instant Flash Cards has
								to offer.
								<br />
								Here's what you do next:
								<br />
								<br />

								1. Open the Instant Flash Cards app. <br />
								2. Hit the "restore" button. You'll see a pop-up where you can enter your secret
								code. <br />

								3. Type in your subscription key and click "save." <br />
								<br />
								And voilà! If you've entered everything correctly, you'll be greeted with a burst
								of confetti on your screen 🎉, and just like that, all the features are yours to
								explore.
							</p>
						</dd>
					</div>

					<div class="pt-8 lg:grid lg:grid-cols-12 pb-8 lg:gap-8">
						<dt class="text-lg font-semibold leading-7 text-pretty text-black lg:col-span-5">
							How to cancel your subscription
						</dt>
						<dd class="mt-4 lg:col-span-7 lg:mt-0">
							<p class="text-lg leading-7 text-pretty text-black">
								Wanna break up with us? 😢 No hard feelings!

								<br />
								Here’s the chill way to cancel your Instant Flash Cards subscription:
								<br />
								<br />
								1. Pop open the Instant Flash Cards app. <br />
								2. Hit the ‘Settings’ button – it’s your gateway to freedom. <br />
								3. A little window (we call it a modal) will show up. <br />
								4. Tap on ‘Manage’ like you own the place. <br />
								5. Then, just cancel your subscription. <br />

								<br />
								And that’s it! You’re free, but hey, we’re always here if you wanna come back.
								🚪❤️
							</p>
						</dd>
					</div>
				</dl>
			</div>
		</div>







		<div class="my-16 rounded-3xl ">
			<div class="px-6 py-16 lg:px-8 ">
				<div class="card-body">
				<div class="mx-auto max-w-2xl text-pretty text-center">
					<img 	src="/assets/images/flash-cards.png"
					alt="Illustration of a gray tabby cat with pink inner ears and a surprised expression, holding a circular sign with a red 'X' on it, symbolizing disapproval or a 'no' response" alt="No Spoiler" class="w-20 mx-auto" />
					<h2 class="text-3xl font-bold tracking-tight text-pretty text-black sm:text-4xl mt-4">
						Instant Flash Cards
					</h2>
					<p class="mx-auto mt-6 max-w-xl text-pretty text-2xl leading-8 text-pretty text-black">
						Turn any site into study vibes with one click. Instant Flash Cards is your hack to making learning stick.
					</p>
					<div class="mt-10 flex items-center justify-center gap-x-4">
						<a   href="https://chromewebstore.google.com/detail/bipfhmjiiilcconehjpphpfpfkcfkedg" class="btn btn-lg btn-secondary shadow-md " aria-label="Download Hide Spoilers" title="Download Hide Spoilers">
							Download For Chrome
						</a>
	
			  <a   href="https://payments.coffeeandfun.com/b/8wM8yv3HS4qE8Le7sZ" class="btn btn-lg btn-primary shadow-md" aria-label="Download Hide Spoilers" title="Download Hide Spoilers">
			  Buy Instant Flash Cards
			</a>
					</div>
	
			
					</div>
				</div>
			</div>
		</div>


	</main>

	{% include modals.liquid %}


	{% include footer.liquid %}
</body>

</html>