---
eleventyExcludeFromCollections: true
permalink: /robots.txt
title: Too Shy to Ask
youtubeId: PfILiWebkuc
cardTitle:  Too Shy to Ask
description: Too Shy to Ask


url: guides/
---
User-agent: *
Allow: /
Disallow: /cdn-cgi/
Disallow: /demo/
Sitemap: {{ site.url }}/sitemap.xml