doctype html
head
  title Coffee and Fun - Award winning Chrome extensions
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='description' content="Here at Coffee and Fun, we create award winning simple and easy to use web apps and chrome extensions.")
  meta(property='og:image' content='')
  link(rel='shortcut icon' href='/assets/images/logos/full.png')

  style.
    .custom-color-90764dd3-3943-ad31-ec45-aaf1eb80b2fa {
    background-color: #000000
    }
    .custom-color-90764dd3-3943-ad31-ec45-aaf1eb80b2fa .primary-color {
    color: #FFFFFF
    }
    .custom-color-90764dd3-3943-ad31-ec45-aaf1eb80b2fa .secondary-color {
    color: #D7F9FF
    }
    .custom-color-90764dd3-3943-ad31-ec45-aaf1eb80b2fa .accent-bg {
    background-color: #EB0A47
    }
    .custom-color-90764dd3-3943-ad31-ec45-aaf1eb80b2fa .secondary-bg {
    background-color: #2898FB
    }
    .custom-color-90764dd3-3943-ad31-ec45-aaf1eb80b2fa .svg-fill {
    fill: #FFFFFF
    }
.white-flat
  // 
  header.header
    .container-lrg
      .flex.col-12.spread
        a.logo.launchaco-builder-hoverable.logo(href='/')
          img(src='/assets/images/logos/full.png' alt='Coffee and Fun Company Logo')
        a#menu.menu-toggle(href='#main-menu')
          b.nav-link.mr0.secondary-color &#x2630;
        nav#main-menu.main-menu(role='navigation')
          a#main-menu-close.menu-close(href='#')
            span.bold &#x2715;
          a.nav-link.secondary-color(href='https://www.removemyporn.com', target='_blank') Clean my History
          a.nav-link.secondary-color(href='#markdown') Markdown Editor
          // 
          a.nav-link.secondary-color(href='#contact') Contact
  section.section
    .container-lrg.flex
      .col-6.flex.flex-column.center-vertical.mobile-text-center.mb40
        h1.heading-lrg.primary-color.launchaco-builder-hoverable 404 - Page now found
        h2.subheading.secondary-color.mt20.launchaco-builder-hoverable
          | Here at Coffee and Fun, we
          | create award winning simple and easy to use web apps and chrome extensions.
        .mt40
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.primary-color(href='' target='_blank')
            span  See all 
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable(href='' target='_blank')
            span
              | Contact
      .col-6
        .ipadiphone
          .ipadiphone-iphone
            .mask
              img.mask-img(src='https://cdn.launchaco.com/images/4ddc7f47-4655-463e-88d0-a8d4a9e38b58.png' alt='Screenshot of iPhone App')
          .ipadiphone-ipad.launchaco-builder-hoverable
            .mask
              img.mask-img(src='https://cdn.launchaco.com/images/b824ba26-6719-492c-8967-0949a29e8748.png' alt='Screenshot of iPad App')
section#feature-1.section.pink-white(sitemeta='[object Object]' activepage='Landing')
  .container
    .col-12.text-center.flex.flex-column.center-horizontal
      i.icon.secondary-bg.mobile-center-icon.launchaco-builder-hoverable
        svg.svg-fill(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 25 25')
          path(d='M20 19.5a.5.5 0 0 1-.5.5h-14a.5.5 0 0 1 0-1h14a.5.5 0 0 1 .5.5zM16.5 21h-8a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1zm5-4h-18a.5.5 0 0 0 0 1h18a.5.5 0 0 0 0-1zm-9-13a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-1 0v1a.5.5 0 0 0 .5.5zM4.368 7.075a.5.5 0 0 0 .707-.707l-.707-.707a.5.5 0 0 0-.707.707zM1.5 14h-1a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm23 0h-1a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm-3.868-6.925l.707-.707a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 1 0 .708.707zM4.14 16h16.72a8.5 8.5 0 1 0-16.72 0z')
      h3.heading.primary-color.launchaco-builder-hoverable Clean My History 
      p.paragraph.mt20.secondary-color.launchaco-builder-hoverable
        | For times when you forget to use
        | incognito
        | Clean my History is a privacy focused Chrome extension that removes over 15,000 NSFW websites and
        | terms from your history in one click. 
      .mt40
        a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.primary-color(href="https://www.removemyporn.com" target="_blank")
          span Download
        button.button.mobile-text-center.mt10.launchaco-builder-hoverable#checkout-button-plan_GWiDO5WS3j8fNG
          span Upgrade to Pro
section#markdown.section.orange-white(sitemeta='[object Object]' activepage='Landing')
  .container
    .col-12.text-center.flex.flex-column.center-horizontal
      i.icon.secondary-bg.mobile-center-icon.launchaco-builder-hoverable
        svg.svg-fill(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 25 25')
          path(d='M20 22.494v1a.5.5 0 0 1-1 0v-1a.5.5 0 1 1 1 0zm-14.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 1 0v-1a.5.5 0 0 0-.5-.5zm7 1a10.924 10.924 0 0 1-2.494-.391l-.27 1.76a.528.528 0 0 0 .097.454.498.498 0 0 0 .387.183h4.56a.5.5 0 0 0 .49-.598l-.275-1.8a10.928 10.928 0 0 1-2.495.392zm9.06-7.44L18 11.995v9h2.5a1.5 1.5 0 0 0 1.5-1.5v-2.879a1.5 1.5 0 0 0-.44-1.06zM17 5.995v15a18.472 18.472 0 0 1-4 .974v-7.474a.5.5 0 0 0-1 0v7.474a18.47 18.47 0 0 1-4-.974v-15C8 3.67 11.553.244 12.5 0c.947.244 4.5 3.67 4.5 5.994zm-2.168 1.127A4.374 4.374 0 0 0 12.5 5.994a4.113 4.113 0 0 0-2.343 1.136.5.5 0 0 0 .686.729 3.213 3.213 0 0 1 1.657-.865 3.417 3.417 0 0 1 1.668.874.5.5 0 0 0 .664-.748zM3 16.614v2.88a1.5 1.5 0 0 0 1.5 1.5H7v-9l-3.56 3.56a1.5 1.5 0 0 0-.44 1.06z')
      h3.heading.primary-color.launchaco-builder-hoverable Markdown Editor for Chrome
      p.subheading.secondary-color.mt20.launchaco-builder-hoverable
        | The most significant and purest Markdown editor for Google Chrome. Just write Markdown and see what it looks like as you type.
        | Markdown Editor for Chrome also comes with one-click HTML conversion, file support and other discreet gems.
      .mt40
        a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.primary-color(href="https://chrome.google.com/webstore/detail/markdown-live-preview/dkpldbigkfcgpamifjimiejipmodkigk" target="_blank")
          span Download
        button.button.mobile-text-center.mt10.launchaco-builder-hoverable#checkout-button-price_HLvALnfLmoVK3j
          span Upgrade to Pro

  .container-lrg
    .col-12.flex
      .computer.launchaco-builder-hoverable
        .mask
          img.mask-img(src='https://cdn.launchaco.com/images/0e28dc42-de45-4f21-9784-f52ab38f81fe.png' alt='Screenshot of App inside a laptop')
        .computer-bottom
footer#footer-3.section.text-center.custom-color-90764dd3-3943-ad31-ec45-aaf1eb80b2fa(sitemeta='[object Object]' activepage='Landing')
  .container.col-12
    // 
    div
      a.socialicons.accent-bg.twitter(href='https://twitter.com/rougeplanet' target='_blank')
      a.socialicons.accent-bg.facebook(href='https://facebook.com/rougeplanet' target='_blank')
      a.socialicons.accent-bg.email(href='mailto:hello@rougeplanet.com')
    .mt50
      span.span.secondary-color &copy;
      span.span.secondary-color
        | 2020
        | RougePlanet.com . All rights reserved.
